<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pradesh.bhaktapursales.ui">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BhaktapurSales">
        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionbar">
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionbar">
        </activity>
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionbar" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionbar" />
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionbar" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>